<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark border border-dark">
        <div class="card-body">
          <form action="/contract/edit/{{contracts.id}}" method="POST">

            {{! Title }}
            <div class="d-flex align-items-center justify-content-center mb-3">
              <h1 class="text-light mb-3 h4">Editing...</h1>
            </div>
            <div class="form-group">

              <label class="text-light mb-3 h6" for="title">Write a Supplier:</label>
              <input type="text" name="title" class="form-control bg-dark text-light mb-2"
                placeholder="Ej. Emp.Construct..." value="{{contracts.title}}" autofocus />

            </div>
            <div class="form-group">

              <label class="text-light mb-3 h6" for="No.Contrat">Write a No.Contract: </label>
              <input type="text" name="contract" class="form-control bg-dark text-light mb-2" placeholder="Ej. #5500"
                value="{{contracts.contract}}" />

            </div>
            <div class="form-group">

              <label class="text-light mb-3 h6" for="description">Write a Description:</label>
              <textarea name="description" rows="2" class="form-control bg-dark text-light mb-2"
                placeholder="Ej. The Objetive of the contract is...">{{contracts.description}}</textarea>

            </div>
            <div class="form-group row h-75 d-flex align-items-center p-2">
              <button class="btn btn-success btn-block">
                Save
              </button>

            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>