<main class="index">
  <header class="bg-image d-flex">
    <div class="text-center m-auto p-5 bg-dark">
      <h1 class="mb-1 display-1">ADD CONTRACTS</h1>
      <h3 class="mb-5">
        <em>Register and Store your Contracts Here</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        Let's Get Started!
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>